<div id ="first">
  <div class="container-fluid">
  <div class="row justify-content-md-center">
      <img src="./assets/img/heart-banner.png" style="width:100%; height: 35vh; "> 
  </div>

  <div class="row  justify-content-md-center">
      <div class="col-md-4 col-sm-4 col-xs-4">
          <img src="./assets/img/crk1.gif" style="width:inherit" > 
      </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
        <img src="./assets/img/bdyCake.gif" style="width:inherit;height: 90%;" (click)="next()"> 
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 d-none d-sm-block">
        <img src="./assets/img/crk2.gif" style="width:inherit"> 
    </div>

  </div>
  </div>
</div>