<div class="container-fluid">
  <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
          <img src="./assets/img/Birthday1.png" style="width:inherit"> 
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
          <img src="./assets/img/IMG1.jpg" style="width:inherit"> 
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
          <img src="./assets/img/img3.png" style="width:inherit"> 
      </div>

  </div>
  <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
          <img src="./assets/img/IMG2.jpg" style="width:inherit"> 
          <p style=" box-shadow: 0px 1px 2px 2px #888888;">I know, I am far away now, but there is not even a single second I didn't miss you!</p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
          <img src="./assets/img/IMG3.jpg" style="width:inherit"> 
          <p style=" box-shadow: 0px 1px 2px 2px #888888;">Sorry, I really some time torture you a lot. But reason is I am insecure and dont want to loose you my love</p>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
          <img src="./assets/img/IMG4.jpg" style="width:inherit"> 
          <p style=" box-shadow: 0px 1px 2px 2px #888888;">Going thru all phase of my life and I am happy that I found you!! Thank you really lucky to have you</p>
      </div>

  </div>

  <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
          <img src="./assets/img/IMG5.jpg" style="width:inherit"> 
          <p style=" box-shadow: 0px 1px 2px 2px #888888;">I feel strong, when you are by my side, keep becoming my strength and together with our love we can face any challenge of life </p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
          <img src="./assets/img/IMG6.jpg" style="width:inherit"> 
          <p style=" box-shadow: 0px 1px 2px 2px #888888;">Don't ever give up on me, I am continue loving you as I am loving you now</p>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
          <img src="./assets/img/IMG7.jpg" style="width:inherit"> 
          <p style=" box-shadow: 0px 1px 2px 2px #888888;">I could have ordered cake, but to reduce your weight I didn't order. So that you become slim and I wont see any other girl :P </p>
      </div>

  </div>

  <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
          <img src="./assets/img/Birthday3.png" style="width:inherit"> 
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
          <img src="./assets/img/IMG8.jpg" style="width:inherit"> 
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
          <img src="./assets/img/Birthday2.png" style="width:inherit"> 
      </div>

  </div>

  <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
          <img src="./assets/img/IMG9.jpg" style="width:inherit"> 
          <p style=" box-shadow: 0px 1px 2px 2px #888888;">Kiss you and hug you tightly. Dont want to leave you.</p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
          <img src="./assets/img/IMG10.jpg" style="width:inherit"> 
          <p style=" box-shadow: 0px 1px 2px 2px #888888;">I am really happy that one of your dream comes true. I am really proud of you my Jaan</p>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
          <img src="./assets/img/IMG11.jpg" style="width:inherit"> 
          <p style=" box-shadow: 0px 1px 2px 2px #888888;">Love you so much, Happy Birthday!! My Everything... Miss you alot</p>
      </div>

  </div>
  <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
          <img src="./assets/img/Birthday4.png" style="width:inherit"> 
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
          <img src="./assets/img/Birthday5.png" style="width:inherit"> 
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
          <img src="./assets/img/Birthday6.png" style="width:inherit"> 
      </div>

  </div>
</div>